.bold{
    font-weight: bold;
}

.color-white{
    color: white;
}

.color-blue{
    color: #1a73e8;
}

.color-gray{
    color: rgba(0,0,0,.54);
}
/*Background color*/
.bg-color-blue{
    background-color: #1a73e8;
}

.bg-color-white{
    background-color: white;
}

.border-1{
    border-radius: 5px;
}

.border-color-blue{
    border-color: #1a73e8;
}

.border-color-none{
    border-color:transparent;
}

.top-bar-1 .bt-search{
   text-decoration: none;
    font-family: Arial, sans-serif;
}

.cloud-logo{
    width: 139px;
    height: 20px;
}

.top-bar-2 .bt-contact{
    height: 30px;
    border: 1px solid rgba(0,0,0,.1);
}

.top-bar-2 .bt-start{
    height: 30px;
}